<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org"">
<body>
<h2>View Personal Leave History</h2>
<table>
<tbody>
<tr>
<td>Start Date</td>
<td>End Date</td>
<td>Category</td>
<td>Status</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<button type="button" onclick="alert('Leave Updated')">Update</button>
<button type="button" onclick="alert('Leave Deleted')">Delete</button>
<button type="button" onclick="alert('Leave Cancelled')">Cancel</button>
</body>
</html>